:root{
    --main-text-color:#757575;
    --second-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --address-color:rgba(255, 255, 255, 0.6);
    --section-bg-color:#F5F4FA;
    --logo-color:#000000;
    --bg-color:#2F303A;
    --border-color:#ECECEC;
    --card-border-color:#EEEEEE;
    --hero-bg-overlay:rgba(47, 48, 58, 0.4);
    --hero-bg-color:#C4C4C4;
    --icon-color:#AFB1B8;

    --main-font-family:Roboto, sans-serif;
    --second-font-family:Raleway, sans-serif;

}
/*reset*/
h1, h2, h3, p{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
/*settings*/
body{
    font-family: var(--main-font-family);
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--white-color);
    color:var(--main-text-color);
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height:1px;
    margin: -1px;
    padding: 0;
    overflow:hidden;
    border:0;
    clip: rect(0 0 0 0);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.title{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--second-text-color);

    margin-bottom: 50px;
}
.flex-cont{
    display: flex;
    align-items: center;
}
.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social-link:hover,
.social-link:focus{
    background-color: var(--accent-color);
}
.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon{
    fill:var(--white-color);
}
.social-list{
    display: flex;
    justify-content: space-between;
}
.social-link-icon{
    fill: var(--icon-color);
}

/*header*/
.header-page{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--border-color); 
}
.header-address{
    margin-left: auto;
}
.logo{
    font-family: var(--second-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    margin-right: 94px;
}
.logo-blue{
    color:var(--accent-color);
}
.logo-black{
    color:var(--logo-color);
}
.logo-white{
    color:var(--white-color);
}
.nav-list:not(:last-child){
    margin-right: 50px;
}
.nav{
    color:var(--second-text-color);
    
}
.nav:hover,.nav:focus{
    color:var(--accent-color);
}
.nav.current{
    color:var(--accent-color);
    position:relative;
}
.nav.current::after{
    content:'';
    position: absolute;
    top: 45px;
    display: block;
    width: 109%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}
.address{
    color:var(--main-text-color);
}
.address:hover,
.address:focus{
    color:var(--accent-color);
}
.link.nav, .link.address{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.icon-address{
    fill: currentColor;
    margin-right: 10px;
}
/*main*/
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        var(--hero-bg-overlay),
        var(--hero-bg-overlay)),
        url(../images/bg.jpg);   
    background-color: var(--hero-bg-color);
    background-size: cover;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    letter-spacing: 0.06em;
    color:var(--white-color);
    text-align: center;
    text-transform: uppercase;   
    
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.button{
    border-radius: 4px;
    border:none;
    display: block;
    
    font-family: var(--main-font-family);
    font-size: 16px;
    cursor: pointer;
}
.hero-button{
    min-width: 216px;
    padding: 10px 22px;
    margin-left: auto;
    margin-right: auto;

    font-style: normal;
    font-weight: 700;    
    line-height: 1.88;
    letter-spacing: 0.06em;
    color:var(--white-color);
    background-color: var(--accent-color);    
}

.uniq-flex-cont{
    display: flex;
    align-items: flex-start;
    margin-left: -30px;
}
.uniq-list{
    flex-basis: calc((100%-90px)/4);
    margin-left: 30px;
}
.uniq-list-icon{
    width: 270px;
    height: 120px;
    background-color: var(--section-bg-color);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uniq-title{
    color:var(--second-text-color);

    margin-bottom: 10px;
}
.uniq-text{
    line-height: 1.71;
}

.work-section{
    padding-bottom: 94px;
}
.img-list{
    flex-basis: calc((100%-60px)/3);
}
.img-list:not(:last-child){
    margin-right: 30px;
}

.team-section{
    background-color: var(--section-bg-color);
}
.team{    
    line-height: 1.19;
    text-align: center;
    background-color: var(--white-color);
    /*padding-bottom: 30px;*/
}

.card-desc{
    padding: 30px 32px;
}
.team-list{
    flex-basis: calc((100%-90px)/4);
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0 0 4px 4px;
}
.team-list:not(:last-child){
    margin-right: 30px;
}
.team-title{
    font-size: 16px;
    font-weight: 500;    
    color:var(--second-text-color);  

    margin-bottom: 10px;    
}
.team-title + p{
    font-size: 16px;    
    margin-bottom: 16px;
}
.client-list-item{
    flex-basis: calc((100%-150px)/6);
    margin-left: 30px;    
}
.client-link{
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
}
.client-link:hover,
.client-link:focus{
    border: 1px solid var(--accent-color);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon{
    fill: var(--accent-color);
}
.client-icon{
    fill:var(--icon-color);
}
/*footer*/
.footer{
    background-color: var(--bg-color);    
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo{
    display: block;
    margin-bottom: 20px;
}
.footer-list:not(:last-child){
    margin-bottom: 10px;
}
.footer-link{
    color:var(--address-color);
    font-style: normal;
}
.footer-link:hover, .footer-link:focus{
    color:var(--accent-color);
}
.social-link-icon.foot{
    fill:var(--white-color);
}
.map{
    color: var(--white-color);
}
.footer-address{
    margin-right: 70px;
}
.footer-social{
    width: 206px;
}
.footer-social > .social-list{
    margin-bottom: 23px;
}
.footer-title{
    color:var(--white-color);
    margin-bottom: 20px;
}
.soc-link-foot{
    background: rgba(255, 255, 255, 0.1);
}
/*modal window*/
.backdrop{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear,visibility 250ms linear;
}
.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 528px;
    height: 580px;
    background-color: var(--white-color);

}
.backdrop.is-hidden{
    opacity:0;
    visibility: hidden;
    pointer-events: none;
}
.modal-close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.10);
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}
/*portfolio*/
.filter-list:not(:last-child){
    margin-right: 8px;
}
.filter-cont{
    margin-bottom: 50px;   
    justify-content: center;
    margin-left: auto;
    margin-right: auto;   
}
.filter{
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color:var(--second-text-color);
    background-color: var(--section-bg-color);
    min-width: 73px;
}
.filter:hover, .filter:focus{
    background-color: var(--accent-color);
    color:var(--white-color);
    box-shadow: 1px 4px 6px rgba(0,0,0,0.16),
    0 4px 4px rgba(0,0,0,0.06),
    0 1px 1px rgba(0, 0, 0, 0.12);
}
.filter.active{
    background-color: var(--accent-color);
    color:var(--white-color);
}
.list-wrap{
    flex-wrap: wrap;
    gap:30px;
}
.portfolio-list{
    flex-basis: calc((100% - 60px) / 3); 
}
.link.card{
    display: block;
}
.link.card:hover,
.link.card:focus{
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0,0,0,0.08),
    0 3px 1px rgba(0,0,0,0.10);
}       

.footer-card{
    border:1px solid var(--card-border-color);
    border-top:none;
    padding: 20px 24px;
}
.portf-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);

    margin-bottom: 4px;
}
.portf-text{
    font-size: 16px;
    line-height: 1.88;
    color:var(--main-text-color);
}
